body{
font-family: 'Lato', sans-serif;
color: #12498A;
}
/*header start*/
header{
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    overflow: hidden;
}
.banner_top{}
.trapezoid {
  width: 224px;
  height: 90px;
  background: #12498A;
  margin-left: 181px;
  position: relative;
}
.trapezoid:before {
  content: '';
  border-right: 47px solid #12498A;
  border-bottom: 91px solid transparent;
  position: absolute;
  left: -46px;
  top: 0;
}
.trapezoid:after {
  content: '';
  border-left: 46px solid #12498A;
  border-bottom: 91px solid transparent;
  position: absolute;
  right: -45px;
  top: 0;
}
.trapezoid h1{
  font-weight: 700;
 font-size: 32px;
 color: #fff;
 padding-top: 25px;
}

.t_left h2{
  font-weight: 700;
  font-size: 23px;
  color: aliceblue;
  transition: .3s;
}
.t_left h2 a{
	text-decoration: none;
	color:orangered!important;
	border-bottom: 1px solid orangered;
}
.t_left h2 a:hover{
  border-bottom: 3px solid orangered;
}

/* header end*/
/* banner content start*/
.banner_content{
  padding-top: 150px;
}
.banner_content h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 37px;
}
.banner_content p{
  font-weight: 500;
  font-size: 23px;
  color: ivory;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
}
.banner_content p::after{
	content: "";
	height: 2px;
	width: 40%;
	background: #fff;
	position: absolute;
	left:30%;
	bottom:0;
}
.banner_content h3{
	color: ivory;
}
.call{
  padding-bottom: 200px;
}
.call a{
  border-bottom: 2px solid orangered;
  font-size: 30px;
  color: orangered;
  text-decoration: none;
}
/* banner content end*/
/*footer start*/
.footer{
	background-color: #12498A;
}
.footer h1{
 font-weight: 700;
 font-size: 32px;
 color: #fff;
 padding-top: 25px;
 text-transform: capitalize;
 padding-bottom: 15px;
 padding-top: 70px;
}
.footer p{
  font-weight: 500;
  font-size: 20px;
  color: #93C2F6;
  padding-bottom: 30px;
  display: inline-block;
  position: relative;
  line-height: 27px;
}
.footer p:after{
	content: "";
	height: 2px;
	width: 40%;
	background:#93C2F6;
	position: absolute;
	left:30%;
	bottom:0;
}
.footer h2{
  font-weight: 700;
  font-size: 23px;
  color: #93C2F6;
  padding: 15px 0;
  transition: .3s;
}
.footer a{
	text-decoration: none;
	color:orangered;
	border-bottom: 2px solid orangered;
}

/*footer end*/